<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ugc.sso.server.mapper.IAccountMapper">

    <select id="findAccountByAccName" resultType="com.ugc.sso.domain.Account" parameterType="string">
        select * from account WHERE accName=#{accName};
    </select>

    <select id="findAccountByAccId" resultType="com.ugc.sso.domain.Account" parameterType="long">
        select * from account where accId=#{accId}
    </select>

    <insert id="createAccount" useGeneratedKeys="true" keyProperty="accId">

        INSERT INTO account
        (
        accName,
        password
        )
        VALUES
            (
            #{accName},
            #{password}
            )
    </insert>

    <update id="updateAccount" parameterType="com.ugc.sso.domain.Account">
        UPDATE account
        SET status = #{status}, accDesc = #{accDesc}, statusDec = #{statusDec}, loginIp = #{loginIp},lastLoginDttm = #{lastLoginDttm}
        WHERE accId = #{accId}
    </update>

</mapper>