<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="com.ugc" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
    </logger>

    <!-- 日志级别 -->
    <root>
        <!-- 定义了ERROR和INFO级别的日志，分别在FILE文件和控制台输出 -->
        <level value="ERROR" />
        <level value="INFO" />
        <!-- <appender-ref ref="FILE" /> -->
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>